build/index.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Gismart</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css?version=7">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
  </head>
  <body>
    <div class="container py-50">
      <div class="row">
        <div class="col-md-4 mx-auto">
          <h2 class="mb-20 pb-10 border-bottom">Список страниц</h2>
          <ul class="pl-0">
            <li style="list-style: none; font-size: 20px;"><a class="d-block my-20" href="main.html">Careers</a></li>
            <li style="list-style: none; font-size: 20px;"><a class="d-block my-20" href="list.html">Vacancies-List</a></li>
            <li style="list-style: none; font-size: 20px;"><a class="d-block my-20" href="list-item.html">Vacancy-Item</a></li>
          </ul>
        </div>
      </div>
    </div>
    <script src="js/scripts.js?version=7"></script>
  </body>
</html>

src/pages/index.pug
extends ../templates/template.pug
block content
  .container.py-50
    .row
      .col-md-4.mx-auto
        h2.mb-20.pb-10.border-bottom Список страниц
        ul.pl-0
          li(style="list-style: none; font-size: 20px;"): a.d-block.my-20(href="main.html", style="") Careers
          li(style="list-style: none; font-size: 20px;"): a.d-block.my-20(href="list.html", style="") Vacancies-List
          li(style="list-style: none; font-size: 20px;"): a.d-block.my-20(href="list-item.html", style="") Vacancy-Item
