src/pages/list-item.pug
extends ../templates/template.pug
block content
  +header({
    logo: 'logo-white.svg'
  }).header--dark
  main
    .container.pb-50.pb-md-80
      .row
        .col-md-11.offset-md-1
          h1.text-left.pb-20 Senior Unity Developer
          h3.h3--lg.font-weight-medium
            span.font-weight-bold Software Developent 
            span team in 
            span.font-weight-bold London, UK
          a.link-back.mt-15.mt-sm-25(href="#") Back to vacancies list
        .col-md-8.col-lg-5.offset-md-1
          .text-block
            h2 About Us
            p.
              Gismart is a developer and publisher of entertainment-focused music apps and games. Believing that anyone has a creative gene, Gismart aims to give people
              an opportunity to express themselves musically. Today the company is working
              in two primary product areas - music entertainment games and music learning apps. With over 350 million downloads Gismart apps are liked by people from all over the world.  The company’s top titles include Beat Maker Go, Piano Crush, Beat Maker Star, Karaoke Face, Hello Piano, WeDrum, Guitar Play and DoubleTune.
            h2 Responsibilities:
            ul
              li Design and construction of the application's architecture basics
              li Writing game mechanics
              li Close work with UX designers and artists
              li Integration of third-party plug-ins
              li Optimization of the application's performance
              li Work with cloud services
            h2 Requirements
            ul
              li 2+ years' experience in mobile games developing on Unity3D engine
              li Knowledge of game and design patterns
              li Knowledge of algorithms
              li Good command of the English language, capable of reading documentation
              li Ability to solve non-trivial tasks
              li Strong knowledge of C # language
              li Strong knowledge of Unity3D base classes, interfaces, and components
              li Work with XCODE development environment and Android Studio
              li Work with third-party plugins and Unity3D services
              li Experience with the GIT version control system
              li Excellent knowledge of vector mathematics
            h2 Bonus Points
            ul
              li Deep understanding of client-server architecture
              li Experience with Dependency Injection
              li Experience working with shaders
              li Knowledge of C # version 6 and 7
              li Experience developing native applications for Android and iOS
            h2 Employee Benefits
            ul
              li Transparent and consistent feedback to help you advance your career
              li Competitive salary
              li Medical Insurance, 100% sick leave coverage, 3 personal days
              li Quarterly Education Days for the entire company
              li English classes
              li Corporate library
              li Breakfast in the office
              li 50% compensation of a car parking
              li 75% compensation of sport activities
              li Fully-stocked kitchen
              li Presents for major life events
              li Сomfortable office in the city center with amazing view
          a.link-back.mt-50.d-none.d-md-flex(href="#") Back to vacancies list
        .col-lg-5.offset-md-1
          h2.text-left.my-20 Vacancy Manager
          +manager.mb-50.mb-sm-85.mb-md-50
          +application({
            title: 'Application for employment',
            btn: 'Apply Now'
          })
  .container
    a.link-back.mb-50.d-flex.d-md-none(href="#") Back to vacancies list
  .bg-light.py-50.py-sm-40: .container: .row.justify-content-center.align-items-baseline
    .col-auto: h4.text-center.text-sm-left.mb-30.mb-sm-0 Did not find a suitable job? Offer your vacancy
    .col-auto: a.btn.btn-outline-dark.btn--medium.js-offer-btn(href="#offer" data-fancybox) WRITE TO US
    +application({
      title: 'Offer your vacancy',
      btn: 'Submit Application',
      modifier: 'offer'
    }).modal#offer
    +modal.modal--text#success
  +footer

build/list-item.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Gismart</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css?version=7">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
  </head>
  <body>
      <header class="header header--dark">
        <div class="container">
          <div class="header__row"><a class="logo" href="./"><img src="./img/logo-white.svg" alt="Gismart"></a>
            <button class="header__hb d-lg-none" type="button"></button>
            <nav class="header__nav d-lg-block">
                <ul class="menu">
                  <li class="menu-item"><a class="menu__link menu__link--active" href="#">Careers</a></li>
                  <li class="menu-item menu-item-has-children">
                    <div class="menu__link menu__link--drop">Products</div>
                    <ul class="sub-menu">
                      <li class="menu__drop-item"><a class="menu__drop-link" href="#">Piano Crush</a></li>
                      <li class="menu__drop-item"><a class="menu__drop-link" href="#">Beat Maker Go</a></li>
                      <li class="menu__drop-item"><a class="menu__drop-link" href="#">Beat Maker Star</a></li>
                      <li class="menu__drop-item"><a class="menu__drop-link" href="#">Hello Piano</a></li>
                      <li class="menu__drop-item"><a class="menu__drop-link" href="#">Guitar Play</a></li>
                      <li class="menu__drop-item"><a class="menu__drop-link" href="#">Karaoke Face</a></li>
                      <li class="menu__drop-item"><a class="menu__drop-link" href="#">WeDrum</a></li>
                      <li class="menu__drop-item"><a class="menu__drop-link" href="#">Hip-Hop Beat Maker</a></li>
                      <li class="menu__drop-item"><a class="menu__drop-link" href="#">Music Zen</a></li>
                      <li class="menu__drop-item"><a class="menu__drop-link" href="#">DoubleTune</a></li>
                      <li class="menu__drop-item"><a class="menu__drop-link" href="#">Metronome</a></li>
                      <li class="menu__drop-item"><a class="menu__drop-link" href="#">Piano</a></li>
                      <li class="menu__drop-item"><a class="menu__drop-link" href="#">Guitar</a></li>
                      <li class="menu__drop-item"><a class="menu__drop-link" href="#">Real Ukulele</a></li>
                    </ul>
                  </li>
                  <li class="menu-item menu-item-has-children">
                    <div class="menu__link menu__link--drop">Company</div>
                    <ul class="sub-menu">
                      <li class="menu__drop-item"><a class="menu__drop-link" href="#">About Gismart</a></li>
                      <li class="menu__drop-item"><a class="menu__drop-link" href="#">Careers</a></li>
                      <li class="menu__drop-item"><a class="menu__drop-link" href="#">Contact Us</a></li>
                    </ul>
                  </li>
                  <li class="menu-item"><a class="menu__link" href="#">Publishing</a></li>
                  <li class="menu-item"><a class="menu__link" href="#">Blog</a></li>
                </ul>
            </nav>
          </div>
        </div>
      </header>
    <main>
      <div class="container pb-50 pb-md-80">
        <div class="row">
          <div class="col-md-11 offset-md-1">
            <h1 class="text-left pb-20">Senior Unity Developer</h1>
            <h3 class="h3--lg font-weight-medium"><span class="font-weight-bold">Software Developent </span><span>team in </span><span class="font-weight-bold">London, UK</span></h3><a class="link-back mt-15 mt-sm-25" href="#">Back to vacancies list</a>
          </div>
          <div class="col-md-8 col-lg-5 offset-md-1">
            <div class="text-block">
              <h2>About Us</h2>
              <p>
                Gismart is a developer and publisher of entertainment-focused music apps and games. Believing that anyone has a creative gene, Gismart aims to give people
                an opportunity to express themselves musically. Today the company is working
                in two primary product areas - music entertainment games and music learning apps. With over 350 million downloads Gismart apps are liked by people from all over the world.  The company’s top titles include Beat Maker Go, Piano Crush, Beat Maker Star, Karaoke Face, Hello Piano, WeDrum, Guitar Play and DoubleTune.
              </p>
              <h2>Responsibilities:</h2>
              <ul>
                <li>Design and construction of the application's architecture basics</li>
                <li>Writing game mechanics</li>
                <li>Close work with UX designers and artists</li>
                <li>Integration of third-party plug-ins</li>
                <li>Optimization of the application's performance</li>
                <li>Work with cloud services</li>
              </ul>
              <h2>Requirements</h2>
              <ul>
                <li>2+ years' experience in mobile games developing on Unity3D engine</li>
                <li>Knowledge of game and design patterns</li>
                <li>Knowledge of algorithms</li>
                <li>Good command of the English language, capable of reading documentation</li>
                <li>Ability to solve non-trivial tasks</li>
                <li>Strong knowledge of C # language</li>
                <li>Strong knowledge of Unity3D base classes, interfaces, and components</li>
                <li>Work with XCODE development environment and Android Studio</li>
                <li>Work with third-party plugins and Unity3D services</li>
                <li>Experience with the GIT version control system</li>
                <li>Excellent knowledge of vector mathematics</li>
              </ul>
              <h2>Bonus Points</h2>
              <ul>
                <li>Deep understanding of client-server architecture</li>
                <li>Experience with Dependency Injection</li>
                <li>Experience working with shaders</li>
                <li>Knowledge of C # version 6 and 7</li>
                <li>Experience developing native applications for Android and iOS</li>
              </ul>
              <h2>Employee Benefits</h2>
              <ul>
                <li>Transparent and consistent feedback to help you advance your career</li>
                <li>Competitive salary</li>
                <li>Medical Insurance, 100% sick leave coverage, 3 personal days</li>
                <li>Quarterly Education Days for the entire company</li>
                <li>English classes</li>
                <li>Corporate library</li>
                <li>Breakfast in the office</li>
                <li>50% compensation of a car parking</li>
                <li>75% compensation of sport activities</li>
                <li>Fully-stocked kitchen</li>
                <li>Presents for major life events</li>
                <li>Сomfortable office in the city center with amazing view</li>
              </ul>
            </div><a class="link-back mt-50 d-none d-md-flex" href="#">Back to vacancies list</a>
          </div>
          <div class="col-lg-5 offset-md-1">
            <h2 class="text-left my-20">Vacancy Manager</h2>
              <div class="manager mb-50 mb-sm-85 mb-md-50">
                <div class="manager__photo" style="background-image: url(./img/manager.jpg);"></div>
                <div class="manager__content">
                  <h3 class="h3--lg">Freya Reynlods</h3>
                  <div class="manager__contacts-wrapper"><a class="manager__contact manager__contact--email" href="#">freya.reynolds@gismart.com</a><a class="manager__contact manager__contact--phone" href="#">+44 (0) 7939075967</a><a class="manager__contact manager__contact--skype" href="#">f.reynolds</a><a class="manager__contact manager__contact--linkedin" href="#">Linkedin</a></div>
                </div>
              </div>
              <div class="application">
                <h2 class="text-left mb-20">Application for employment</h2>
                <form class="form needs-validation" action="#" method="POST" novalidate>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group mb-20">
                        <input class="input form-control" type="text" placeholder="Name">
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group mb-20">
                        <input class="input form-control" type="text" placeholder="Phone Number" required>
                        <div class="invalid-feedback">Please provide this information.</div>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-group mb-20">
                        <input class="input form-control" type="email" placeholder="Email">
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-group mb-20">
                        <textarea class="input input--textarea form-control" type="text" placeholder="Write us a few words about yourself"></textarea>
                      </div>
                      <div class="custom-file">
                        <input class="custom-file-input" id="customFile" type="file">
                        <label class="custom-file-label" for="customFile">Attach your CV</label><a class="custom-file-remove" href="#">remove</a>
                      </div>
                      <button class="btn btn-secondary btn--medium application__btn" type="submit">Apply Now</button>
                    </div>
                  </div>
                </form>
              </div>
          </div>
        </div>
      </div>
    </main>
    <div class="container"><a class="link-back mb-50 d-flex d-md-none" href="#">Back to vacancies list</a></div>
    <div class="bg-light py-50 py-sm-40">
      <div class="container">
        <div class="row justify-content-center align-items-baseline">
          <div class="col-auto">
            <h4 class="text-center text-sm-left mb-30 mb-sm-0">Did not find a suitable job? Offer your vacancy</h4>
          </div>
          <div class="col-auto"><a class="btn btn-outline-dark btn--medium js-offer-btn" href="#offer" data-fancybox>WRITE TO US</a></div>
            <div class="application modal" id="offer">
              <h2 class="text-left mb-20">Offer your vacancy</h2>
              <form class="form needs-validation" action="#" method="POST" novalidate>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group mb-20">
                      <input class="input form-control" type="text" placeholder="Name">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group mb-20">
                      <input class="input form-control" type="text" placeholder="Phone Number" required>
                      <div class="invalid-feedback">Please provide this information.</div>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-group mb-20">
                      <input class="input form-control" type="email" placeholder="Email">
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-group mb-20">
                      <input class="input form-control" type="text" placeholder="Linkedin link">
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-group mb-20">
                      <textarea class="input input--textarea form-control" type="text" placeholder="Write us a few words about yourself"></textarea>
                    </div>
                    <div class="custom-file">
                      <input class="custom-file-input" id="customFile" type="file">
                      <label class="custom-file-label" for="customFile">Attach your CV</label><a class="custom-file-remove" href="#">remove</a>
                    </div>
                    <button class="btn btn-secondary btn--medium application__btn" type="submit">Submit Application</button>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal modal--text" id="success">
              <div class="modal__text-content">
                <div class="modal__text-top">
                  <h2 class="text-left text-md-center mb-20">Fine! Your request has been sent!</h2>
                  <p class="text-left text-md-center mb-30 mb-md-40">We will contact you as soon as possible!</p>
                </div><a class="btn btn-secondary btn--medium modal__btn modal__close" href="#">Continue</a>
              </div>
            </div>
        </div>
      </div>
    </div>
      <footer class="footer">
        <div class="container">
          <div class="footer__row"><a class="logo" href="./"><img src="./img/logo-black.svg" alt="Gismart"></a>
            <div class="footer__menu"><a class="footer__menu-link" href="#">Publishing</a><a class="footer__menu-link" href="#">Contact Us</a><a class="footer__menu-link" href="#">Careers</a><a class="footer__menu-link" href="#">About Us</a><a class="footer__menu-link" href="#">Privacy Policy</a></div>
            <div class="footer__socials">
              <div class="footer__folow">Follow Us</div>
                <div class="socials"><a href="#"><i class="socials__icon socials__icon--fb"></i></a><a href="#"><i class="socials__icon socials__icon--instagram"></i></a><a href="#"><i class="socials__icon socials__icon--linked"></i></a></div>
            </div>
          </div>
          <div class="footer__bottom">
            <div class="footer__copyright mb-30 mb-md-10">Our adress 22 Great Marlborough Street, London, UK W1F 7HU</div>
            <div class="footer__copyright mb-30 mb-md-10">© 2019 All Rights Reserved.</div>
            <div class="footer__copyright">designed by 69pixels.</div>
          </div>
        </div>
      </footer>
    <script src="js/scripts.js?version=7"></script>
  </body>
</html>
