build/main.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Gismart</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css?version=7">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
  </head>
  <body>
    <div class="position-absolute w-100 header__wrapper">
        <header class="header">
          <div class="container">
            <div class="header__row"><a class="logo" href="./"><img src="./img/logo-white.svg" alt="Gismart"></a>
              <button class="header__hb d-lg-none" type="button"></button>
              <nav class="header__nav d-lg-block">
                  <ul class="menu">
                    <li class="menu-item"><a class="menu__link menu__link--active" href="#">Careers</a></li>
                    <li class="menu-item menu-item-has-children">
                      <div class="menu__link menu__link--drop">Products</div>
                      <ul class="sub-menu">
                        <li class="menu__drop-item"><a class="menu__drop-link" href="#">Piano Crush</a></li>
                        <li class="menu__drop-item"><a class="menu__drop-link" href="#">Beat Maker Go</a></li>
                        <li class="menu__drop-item"><a class="menu__drop-link" href="#">Beat Maker Star</a></li>
                        <li class="menu__drop-item"><a class="menu__drop-link" href="#">Hello Piano</a></li>
                        <li class="menu__drop-item"><a class="menu__drop-link" href="#">Guitar Play</a></li>
                        <li class="menu__drop-item"><a class="menu__drop-link" href="#">Karaoke Face</a></li>
                        <li class="menu__drop-item"><a class="menu__drop-link" href="#">WeDrum</a></li>
                        <li class="menu__drop-item"><a class="menu__drop-link" href="#">Hip-Hop Beat Maker</a></li>
                        <li class="menu__drop-item"><a class="menu__drop-link" href="#">Music Zen</a></li>
                        <li class="menu__drop-item"><a class="menu__drop-link" href="#">DoubleTune</a></li>
                        <li class="menu__drop-item"><a class="menu__drop-link" href="#">Metronome</a></li>
                        <li class="menu__drop-item"><a class="menu__drop-link" href="#">Piano</a></li>
                        <li class="menu__drop-item"><a class="menu__drop-link" href="#">Guitar</a></li>
                        <li class="menu__drop-item"><a class="menu__drop-link" href="#">Real Ukulele</a></li>
                      </ul>
                    </li>
                    <li class="menu-item menu-item-has-children">
                      <div class="menu__link menu__link--drop">Company</div>
                      <ul class="sub-menu">
                        <li class="menu__drop-item"><a class="menu__drop-link" href="#">About Gismart</a></li>
                        <li class="menu__drop-item"><a class="menu__drop-link" href="#">Careers</a></li>
                        <li class="menu__drop-item"><a class="menu__drop-link" href="#">Contact Us</a></li>
                      </ul>
                    </li>
                    <li class="menu-item"><a class="menu__link" href="#">Publishing</a></li>
                    <li class="menu-item"><a class="menu__link" href="#">Blog</a></li>
                  </ul>
              </nav>
            </div>
          </div>
        </header>
    </div>
    <main>
        <section class="front" style="background-image: url(./img/front.jpg)">
          <div class="container front__title-wrapper">
            <h1 class="front__title front__title--big animation--fadeIn h1 h1--xl">– Creating products that inspire</h1><a class="front__goto" href="#next"></a>
          </div>
        </section>
      <section class="bg-gray-light" id="next">
        <div class="container">
            <div class="find-role">
              <div class="find-role__title">
                <h2 class="h1">Discover the role for you</h2>
              </div>
              <form class="find-role__row" name="q">
                <div class="h3 pr-10"> <span class="count-of-vacancy">69 </span>open positions in</div>
                <div class="select">
                  <select class="js-select" name="category" data-placeholder="Job Category Job CategoryJob Category Job CategoryJob Category Job CategoryJob Category Job CategoryJob Category Job Category">
                    <option></option>
                    <option value="c1">Business Development Manager</option>
                    <option value="c2">UX DesignerJunior Business Development Manager</option>
                    <option value="c3">Product Marketing Manager</option>
                    <option value="c3">Front-end Developer</option>
                    <option value="l1">London, UK</option>
                    <option value="l2">Minsk, Belarus</option>
                    <option value="l3">Grodno, Belarus</option>
                    <option value="l3">New York, USA</option>
                  </select>
                </div>
                <div class="h3 px-20">in</div>
                <div class="select">
                  <select class="js-select" name="location" data-placeholder="Location">
                    <option></option>
                    <option value="l1">London, UK</option>
                    <option value="l2">Minsk, Belarus</option>
                    <option value="l3">Grodno, Belarus</option>
                    <option value="l3">New York, USA</option>
                  </select>
                </div>
                <button class="btn btn-secondary btn--long ml-lg-20" type="submit">Find Job</button>
              </form>
            </div>
        </div>
      </section>
      <section class="pt-50 pt-sm-90 pt-md-100 pb-md-70">
        <div class="container">
          <h2 class="h1 mb-30 mb-md-60 text-left text-md-center">Why Gismart?</h2>
            <div class="metro">
              <div class="row align-items-center row--custom-margin pb-sm-20 pb-md-0">
                <div class="col-6 col-md-3 pb-30 px-10 px-md-15">
                  <div class="metro__img"><img src="./img/metro-1.jpg" alt=""></div>
                </div>
                <div class="col-6 col-md-3 pb-30 px-10 px-md-15">
                  <div class="metro__img"><img src="./img/metro-2.jpg" alt=""></div>
                </div>
                <div class="col-md-6 pb-30 order-1 order-md-0 px-10 px-md-15">
                  <div class="metro__text pl-md-60">
                    <h2 class="h2 text-left mb-10 mb-sm-15 animation--fadeUp">A home for the innovative and brilliant</h2>
                    <p class="animation--fadeUp">Our teams are built on passion, skill, and desire - the desire to progress, the passion to create, and the skill to accomplish. We champion diversity, respect perspective, and believe in job satisfaction. We strive for a perfect balance between work and play.</p>
                  </div>
                </div>
              </div>
              <div class="row align-items-center row--custom-margin">
                <div class="col-md-6 pb-30 order-1 order-md-0 px-10 px-md-15">
                  <div class="metro__text pr-md-60">
                    <h2 class="h2 text-left mb-10 mb-sm-15 animation--fadeUp">A thriving environment</h2>
                    <p class="animation--fadeUp">Things never stand still for long, and as our products evolve, so do we. We’ve forged a friendly, creative, and dynamic environment where every voice gets the platform and opportunity it deserves. </p>
                  </div>
                </div>
                <div class="col-6 col-md-3 pb-30 px-10 px-md-15">
                  <div class="metro__img"><img src="./img/metro-3.jpg" alt=""></div>
                </div>
                <div class="col-6 col-md-3 pb-30 px-10 px-md-15">
                  <div class="metro__img"><img src="./img/metro-4.jpg" alt=""></div>
                </div>
              </div>
            </div>
        </div>
      </section>
      <section class="pt-sm-50 pt-md-100 pb-md-45">
        <div class="container">
          <h2 class="h1 mb-20 mb-sm-10 mb-md-35 text-left text-md-center">Values & Culture</h2>
          <div class="row no-gutters mb-30 mb-md-80">
            <div class="col-sm-9 col-md-6 px-md-30 mx-md-auto text-left text-md-center">
              <p>We keep things simple here. We aim to inspire our teams with a strong sense of value, direction, and ambition.   </p>
            </div>
          </div>
            <div class="img-grid">
              <div class="row row--custom-margin">
                <div class="col-sm-6 px-10 px-md-15 pb-20 pb-md-30 animation--fadeInFast">
                  <div class="img-grid__img"><img src="./img/img-1.jpg" alt=""></div>
                </div>
                <div class="col-sm-6 px-10 px-md-15 pb-20 pb-md-30 animation--fadeInFast">
                  <div class="img-grid__img"><img src="./img/img-2.jpg" alt=""></div>
                </div>
                <div class="col-sm-6 px-10 px-md-15 pb-20 pb-md-30 animation--fadeInFast">
                  <div class="img-grid__img"><img src="./img/img-3.jpg" alt=""></div>
                </div>
                <div class="col-sm-6 px-10 px-md-15 pb-20 pb-md-30 animation--fadeInFast">
                  <div class="img-grid__img"><img src="./img/img-4.jpg" alt=""></div>
                </div>
              </div>
            </div>
        </div>
      </section>
      <section class="pt-20 pt-sm-45 pb-sm-45 pt-md-70 pb-md-100 mb-md-35">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-lg-3 pb-35 pb-sm-40 animation--fadeUp">
              <h2 class="text-left mb-15 mb-sm-10 mb-md-30">Belief and Initiative    </h2>
              <p class="pr-sm-40 pr-md-50">We speak up when we've got an idea, and we aren't afraid to show our strengths. We channel our experiences into actions and always remain proactive.     </p>
            </div>
            <div class="col-sm-6 col-lg-3 pb-35 pb-sm-40 animation--fadeUp">
              <h2 class="text-left mb-15 mb-sm-10 mb-md-30">Creativity and passion   </h2>
              <p class="pr-sm-40 pr-md-50">Passion is what drives us to achieve. We believe in what we're doing, deliver creative solutions, and understand that every voice is critical.</p>
            </div>
            <div class="col-sm-6 col-lg-3 pb-35 pb-sm-40 animation--fadeUp">
              <h2 class="text-left mb-15 mb-sm-10 mb-md-30">Focus and simplicity </h2>
              <p class="pr-sm-40 pr-md-50">We don't shy away from simplicity. Great ideas aren't built on grandeur - they're built on effective solutions and focus. We channel this and deliver exceptional experiences.</p>
            </div>
            <div class="col-sm-6 col-lg-3 pb-35 pb-sm-40 animation--fadeUp">
              <h2 class="text-left mb-15 mb-sm-10 mb-md-30">Teamwork and Trust</h2>
              <p class="pr-sm-40 pr-md-50">Nearly everything we've achieved, we've accomplished as a team. We stay modest, support our colleagues, and collaborate to get things done.    </p>
            </div>
          </div>
        </div>
      </section>
        <div class="quote">
          <div class="quote__bg"></div>
          <div class="container">
            <div class="quote__text">Gismart has come a long way - we’ve seen a small idea grow into this flourishing eco-system that’s built on these amazing people, great ideas, and a ton of hard work. We just want to make sure our teams have the resources and support they need to do incredible things.</div>
            <div class="quote__author">Alex Minets, CTO and co-founder</div>
          </div>
        </div>
      <section class="pt-50 pt-sm-90 pb-sm-40 py-md-130">
        <div class="container">
          <h2 class="h1 mb-20 mb-sm-15 mb-md-10 mb-md-35 text-left text-md-center">Benefits For You</h2>
          <div class="row no-gutters mb-sm-30 mb-md-55">
            <div class="col-sm-9 col-md-6 px-md-30 mx-md-auto text-left text-md-center">
              <p>Comfort is a big deal for us, and there’s nothing wrong with loving where you work. We offer a ton of employee benefits to make sure you’re getting the most out of yourself and your job.</p>
            </div>
          </div>
          <div class="row row--awesome pt-30 pt-sm-10 pt-md-20">
            <div class="col-6 col-sm-3 pb-30 pb-md-80">
                <div class="awesome animation--fadeUp">
                  <div class="awesome__icon"><img class="awesome__img" src="./img/awesome-1.svg" alt=""></div>
                  <h3>Medical Cover</h3>
                  <p>We offer a complete medical insurance package as well as sick leave coverage and personal days.</p>
                </div>
            </div>
            <div class="col-6 col-sm-3 pb-30 pb-md-80">
                <div class="awesome animation--fadeUp">
                  <div class="awesome__icon"><img class="awesome__img" src="./img/awesome-2.svg" alt=""></div>
                  <h3>Healthy Initiatives</h3>
                  <p>We compensate all sports activities, offer a free gym and host yoga and running clubs</p>
                </div>
            </div>
            <div class="col-6 col-sm-3 pb-30 pb-md-80">
                <div class="awesome animation--fadeUp">
                  <div class="awesome__icon"><img class="awesome__img" src="./img/awesome-6.svg" alt=""></div>
                  <h3>Fully-equipped Kitchen</h3>
                  <p>Office breakfasts and a well-stocked kitchen mean you never work hungry</p>
                </div>
            </div>
            <div class="col-6 col-sm-3 pb-30 pb-md-80">
                <div class="awesome animation--fadeUp">
                  <div class="awesome__icon"><img class="awesome__img" src="./img/awesome-4.svg" alt=""></div>
                  <h3>Personal Development</h3>
                  <p>Enjoy quarterly education days, English classes, professional music lessons, and meetups</p>
                </div>
            </div>
            <div class="col-6 col-sm-3 pb-30 pb-md-80">
                <div class="awesome animation--fadeUp">
                  <div class="awesome__icon"><img class="awesome__img" src="./img/awesome-5.svg" alt=""></div>
                  <h3>Social Events</h3>
                  <p>Whether we’re throwing a party or going on a company retreat, we know how to have a good time</p>
                </div>
            </div>
            <div class="col-6 col-sm-3 pb-30 pb-md-80">
                <div class="awesome animation--fadeUp">
                  <div class="awesome__icon"><img class="awesome__img" src="./img/awesome-3.svg" alt=""></div>
                  <h3>Professional Development </h3>
                  <p>We give clear, consistent, and honest feedback as we create opportunities and nurture talent</p>
                </div>
            </div>
            <div class="col-6 col-sm-3 pb-30 pb-md-80">
                <div class="awesome animation--fadeUp">
                  <div class="awesome__icon"><img class="awesome__img" src="./img/awesome-7.svg" alt=""></div>
                  <h3>Celebrations &amp; Gifting</h3>
                  <p>We celebrate and support each other with gifting for special occasions</p>
                </div>
            </div>
            <div class="col-6 col-sm-3 pb-30 pb-md-80">
                <div class="awesome animation--fadeUp">
                  <div class="awesome__icon"><img class="awesome__img" src="./img/awesome-8.svg" alt=""></div>
                  <h3>Inspiring People</h3>
                  <p>Working here presents the opportunity to work with and learn from people at the top of their game</p>
                </div>
            </div>
          </div>
        </div>
      </section>
      <section class="pt-20 pt-md-50 pb-md-100">
        <div class="container">
          <h2 class="h1 mb-20 mb-sm-15 text-left text-md-center">Relocation Support</h2>
          <div class="row mb-25 mb-sm-30 mb-md-60">
            <div class="col-sm-9 col-md-6 mx-md-auto text-left text-lg-center">
              <p>When you receive a job offer or your company transfers you and you need to relocate, you may be eligible for a relocation package</p>
            </div>
          </div>
          <div class="position-relative pb-50 pb-sm-0">
              <div class="slider" id="slider">
                <div class="slider__item">
                  <div class="slider__block">
                    <div class="slider__desc">
                      <div class="h2 text-left mb-15">Home Finding</div>
                      <p>
                        A trip, including transportation and hotel costs, to the
                        new location to find a future home suitable for your family is paid for.
                      </p>
                    </div>
                    <div class="slider__img-wrap"><img src="./img/slider-1.jpg" alt=""></div>
                  </div>
                </div>
                <div class="slider__item">
                  <div class="slider__block">
                    <div class="slider__desc">
                      <div class="h2 text-left mb-15">Home Finding</div>
                      <p>
                        A trip, including transportation and hotel costs, to the
                        new location to find a future home suitable for your family is paid for.
                      </p>
                    </div>
                    <div class="slider__img-wrap"><img src="./img/slider-1.jpg" alt=""></div>
                  </div>
                </div>
                <div class="slider__item">
                  <div class="slider__block">
                    <div class="slider__desc">
                      <div class="h2 text-left mb-15">Home Finding</div>
                      <p>
                        A trip, including transportation and hotel costs, to the
                        new location to find a future home suitable for your family is paid for.
                      </p>
                    </div>
                    <div class="slider__img-wrap"><img src="./img/slider-1.jpg" alt=""></div>
                  </div>
                </div>
                <div class="slider__item">
                  <div class="slider__block">
                    <div class="slider__desc">
                      <div class="h2 text-left mb-15">Home Finding</div>
                      <p>
                        A trip, including transportation and hotel costs, to the
                        new location to find a future home suitable for your family is paid for.
                      </p>
                    </div>
                    <div class="slider__img-wrap"><img src="./img/slider-1.jpg" alt=""></div>
                  </div>
                </div>
                <div class="slider__item">
                  <div class="slider__block">
                    <div class="slider__desc">
                      <div class="h2 text-left mb-15">Home Finding</div>
                      <p>
                        A trip, including transportation and hotel costs, to the
                        new location to find a future home suitable for your family is paid for.
                      </p>
                    </div>
                    <div class="slider__img-wrap"><img src="./img/slider-1.jpg" alt=""></div>
                  </div>
                </div>
              </div>
              <div class="slider-controls" id="slider-controls">
                <div id="slider-dots"></div>
              </div>
          </div>
        </div>
      </section>
      <section class="bg-gray-light">
        <div class="container">
            <div class="find-role">
              <div class="find-role__title">
                <h2 class="h1">Discover the role for you</h2>
              </div>
              <form class="find-role__row" name="q">
                <div class="h3 pr-10"> <span class="count-of-vacancy">69 </span>open positions in</div>
                <div class="select">
                  <select class="js-select" name="category" data-placeholder="Job Category Job CategoryJob Category Job CategoryJob Category Job CategoryJob Category Job CategoryJob Category Job Category">
                    <option></option>
                    <option value="c1">Business Development Manager</option>
                    <option value="c2">UX DesignerJunior Business Development Manager</option>
                    <option value="c3">Product Marketing Manager</option>
                    <option value="c3">Front-end Developer</option>
                    <option value="l1">London, UK</option>
                    <option value="l2">Minsk, Belarus</option>
                    <option value="l3">Grodno, Belarus</option>
                    <option value="l3">New York, USA</option>
                  </select>
                </div>
                <div class="h3 px-20">in</div>
                <div class="select">
                  <select class="js-select" name="location" data-placeholder="Location">
                    <option></option>
                    <option value="l1">London, UK</option>
                    <option value="l2">Minsk, Belarus</option>
                    <option value="l3">Grodno, Belarus</option>
                    <option value="l3">New York, USA</option>
                  </select>
                </div>
                <button class="btn btn-secondary btn--long ml-lg-20" type="submit">Find Job</button>
              </form>
            </div>
        </div>
      </section>
    </main>
    <div class="bg-light py-50 py-sm-40">
      <div class="container">
        <div class="row justify-content-center align-items-baseline">
          <div class="col-auto">
            <h4 class="text-center text-sm-left mb-30 mb-sm-0">Did not find a suitable job? Offer your vacancy</h4>
          </div>
          <div class="col-auto"><a class="btn btn-outline-dark btn--medium js-offer-btn" href="#offer" data-fancybox>WRITE TO US</a></div>
            <div class="application modal" id="offer">
              <h2 class="text-left mb-20">Offer your vacancy</h2>
              <form class="form needs-validation" action="#" method="POST" novalidate>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group mb-20">
                      <input class="input form-control" type="text" placeholder="Name">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group mb-20">
                      <input class="input form-control" type="text" placeholder="Phone Number" required>
                      <div class="invalid-feedback">Please provide this information.</div>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-group mb-20">
                      <input class="input form-control" type="email" placeholder="Email">
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-group mb-20">
                      <input class="input form-control" type="text" placeholder="Linkedin link">
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-group mb-20">
                      <textarea class="input input--textarea form-control" type="text" placeholder="Write us a few words about yourself"></textarea>
                    </div>
                    <div class="custom-file">
                      <input class="custom-file-input" id="customFile" type="file">
                      <label class="custom-file-label" for="customFile">Attach your CV</label><a class="custom-file-remove" href="#">remove</a>
                    </div>
                    <button class="btn btn-secondary btn--medium application__btn" type="submit">Submit Application</button>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal modal--text" id="success">
              <div class="modal__text-content">
                <div class="modal__text-top">
                  <h2 class="text-left text-md-center mb-20">Fine! Your request has been sent!</h2>
                  <p class="text-left text-md-center mb-30 mb-md-40">We will contact you as soon as possible!</p>
                </div><a class="btn btn-secondary btn--medium modal__btn modal__close" href="#">Continue</a>
              </div>
            </div>
        </div>
      </div>
    </div>
      <footer class="footer">
        <div class="container">
          <div class="footer__row"><a class="logo" href="./"><img src="./img/logo-black.svg" alt="Gismart"></a>
            <div class="footer__menu"><a class="footer__menu-link" href="#">Publishing</a><a class="footer__menu-link" href="#">Contact Us</a><a class="footer__menu-link" href="#">Careers</a><a class="footer__menu-link" href="#">About Us</a><a class="footer__menu-link" href="#">Privacy Policy</a></div>
            <div class="footer__socials">
              <div class="footer__folow">Follow Us</div>
                <div class="socials"><a href="#"><i class="socials__icon socials__icon--fb"></i></a><a href="#"><i class="socials__icon socials__icon--instagram"></i></a><a href="#"><i class="socials__icon socials__icon--linked"></i></a></div>
            </div>
          </div>
          <div class="footer__bottom">
            <div class="footer__copyright mb-30 mb-md-10">Our adress 22 Great Marlborough Street, London, UK W1F 7HU</div>
            <div class="footer__copyright mb-30 mb-md-10">© 2019 All Rights Reserved.</div>
            <div class="footer__copyright">designed by 69pixels.</div>
          </div>
        </div>
      </footer>
    <script src="js/scripts.js?version=7"></script>
  </body>
</html>

src/pages/main.pug
extends ../templates/template.pug
block content
  .position-absolute.w-100.header__wrapper: +header({
    logo: 'logo-white.svg'
  })
  main
    +front({
      title: '– Creating products that inspire',
      title_class: 'h1 h1--xl',
      goto: '#next'
    })
    section#next.bg-gray-light: .container: +find-role({
      modifier: 'main',
    })
    section.pt-50.pt-sm-90.pt-md-100.pb-md-70: .container
      h2.h1.mb-30.mb-md-60.text-left.text-md-center Why Gismart?
      +metro
    section.pt-sm-50.pt-md-100.pb-md-45: .container
      h2.h1.mb-20.mb-sm-10.mb-md-35.text-left.text-md-center Values & Culture
      .row.no-gutters.mb-30.mb-md-80: .col-sm-9.col-md-6.px-md-30.mx-md-auto.text-left.text-md-center: p.
        We keep things simple here. We aim to inspire our teams with a strong sense of value, direction, and ambition.   
      +img-grid
    section.pt-20.pt-sm-45.pb-sm-45.pt-md-70.pb-md-100.mb-md-35: .container: .row
      .col-sm-6.col-lg-3.pb-35.pb-sm-40.animation--fadeUp
        h2.text-left.mb-15.mb-sm-10.mb-md-30 Belief and Initiative    
        p.pr-sm-40.pr-md-50.
          We speak up when we've got an idea, and we aren't afraid to show our strengths. We channel our experiences into actions and always remain proactive.     
      .col-sm-6.col-lg-3.pb-35.pb-sm-40.animation--fadeUp
        h2.text-left.mb-15.mb-sm-10.mb-md-30 Creativity and passion   
        p.pr-sm-40.pr-md-50.
          Passion is what drives us to achieve. We believe in what we're doing, deliver creative solutions, and understand that every voice is critical.
      .col-sm-6.col-lg-3.pb-35.pb-sm-40.animation--fadeUp
        h2.text-left.mb-15.mb-sm-10.mb-md-30 Focus and simplicity 
        p.pr-sm-40.pr-md-50.
          We don't shy away from simplicity. Great ideas aren't built on grandeur - they're built on effective solutions and focus. We channel this and deliver exceptional experiences.
      .col-sm-6.col-lg-3.pb-35.pb-sm-40.animation--fadeUp
        h2.text-left.mb-15.mb-sm-10.mb-md-30 Teamwork and Trust
        p.pr-sm-40.pr-md-50.
          Nearly everything we've achieved, we've accomplished as a team. We stay modest, support our colleagues, and collaborate to get things done.    
    +quote
    section.pt-50.pt-sm-90.pb-sm-40.py-md-130: .container
      h2.h1.mb-20.mb-sm-15.mb-md-10.mb-md-35.text-left.text-md-center Benefits For You
      .row.no-gutters.mb-sm-30.mb-md-55: .col-sm-9.col-md-6.px-md-30.mx-md-auto.text-left.text-md-center: p.
        Comfort is a big deal for us, and there’s nothing wrong with loving where you work. We offer a ton of employee benefits to make sure you’re getting the most out of yourself and your job.
      .row.row--awesome.pt-30.pt-sm-10.pt-md-20
        .col-6.col-sm-3.pb-30.pb-md-80: +awesome({
          img: 'awesome-1.svg',
          title: 'Medical Cover',
          text: 'We offer a complete medical insurance package as well as sick leave coverage and personal days.'
        })
        .col-6.col-sm-3.pb-30.pb-md-80: +awesome({
          img: 'awesome-2.svg',
          title: 'Healthy Initiatives',
          text: 'We compensate all sports activities, offer a free gym and host yoga and running clubs'
        })
        .col-6.col-sm-3.pb-30.pb-md-80: +awesome({
          img: 'awesome-6.svg',
          title: 'Fully-equipped Kitchen',
          text: 'Office breakfasts and a well-stocked kitchen mean you never work hungry'
        })
        .col-6.col-sm-3.pb-30.pb-md-80: +awesome({
          img: 'awesome-4.svg',
          title: 'Personal Development',
          text: 'Enjoy quarterly education days, English classes, professional music lessons, and meetups'
        })
        .col-6.col-sm-3.pb-30.pb-md-80: +awesome({
          img: 'awesome-5.svg',
          title: 'Social Events',
          text: 'Whether we’re throwing a party or going on a company retreat, we know how to have a good time'
        })
        .col-6.col-sm-3.pb-30.pb-md-80: +awesome({
          img: 'awesome-3.svg',
          title: 'Professional Development ',
          text: 'We give clear, consistent, and honest feedback as we create opportunities and nurture talent'
        })
        .col-6.col-sm-3.pb-30.pb-md-80: +awesome({
          img: 'awesome-7.svg',
          title: 'Celebrations & Gifting',
          text: 'We celebrate and support each other with gifting for special occasions'
        })
        .col-6.col-sm-3.pb-30.pb-md-80: +awesome({
          img: 'awesome-8.svg',
          title: 'Inspiring People',
          text: 'Working here presents the opportunity to work with and learn from people at the top of their game'
        })
    section.pt-20.pt-md-50.pb-md-100: .container
      h2.h1.mb-20.mb-sm-15.text-left.text-md-center Relocation Support
      .row.mb-25.mb-sm-30.mb-md-60: .col-sm-9.col-md-6.mx-md-auto.text-left.text-lg-center: p.
        When you receive a job offer or your company transfers you and you need to relocate, you may be eligible for a relocation package
      .position-relative.pb-50.pb-sm-0: +slider
    section.bg-gray-light: .container: +find-role({
      modifier: 'main',
    })
  .bg-light.py-50.py-sm-40: .container: .row.justify-content-center.align-items-baseline
    .col-auto: h4.text-center.text-sm-left.mb-30.mb-sm-0 Did not find a suitable job? Offer your vacancy
    .col-auto: a.btn.btn-outline-dark.btn--medium.js-offer-btn(href="#offer" data-fancybox) WRITE TO US
    +application({
      title: 'Offer your vacancy',
      btn: 'Submit Application',
      modifier: 'offer'
    }).modal#offer
    +modal.modal--text#success
  +footer
